<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row center>
      <ion-col>
        <h1 text-uppercase no-padding no-margin>Bem-vindo ao iWinery</h1>
        <hr>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="email" type="email"></ion-input>
          </ion-item>

          <hr/>
          
          <!-- <ion-item *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="danger">
            <ion-text class="form-error">
              Please enter a valid email address.
            </ion-text>
          </ion-item> --> 
      
          <ion-item>
            <ion-label position="floating">Palavra-Passe <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="password" type="password"></ion-input>
          </ion-item>

          <hr/>

          <span class="danger" *ngIf="loginErr" lines="none">
            <ion-text color="danger" class="form-error">
              <sub>{{ loginErr }}</sub>
            </ion-text>
          </span>

          <hr/>

          <span class="ion-text-right">
            <ion-text  class="ion-text-right">
              <sub><a [routerLink]="['/forgot-my-password']">Esqueci minha palavra-passe</a></sub>
            </ion-text>
          </span>
          
          <ion-button class="ion-margin-top" expand="block" color="primary" type="submit" [disabled]="loginForm.invalid">
            Login
          </ion-button>

          <hr/>
          
          <ion-button class="ion-margin-top" expand="block" color="primary" [routerLink]="['/register']">
            Criar Conta
          </ion-button>

        </form>
      </ion-col>
    </ion-row>
</ion-grid>
  



</ion-content>
