<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Escanear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h3>Escaneie o código QR do vinho</h3>
    <p>Aceite o acesso à câmara e coloque o QR no centro da parte indicada</p>
  </ion-text>

  <hr/>

  <div style="text-align: center;">
    <p>
      <zxing-scanner [enable]="cordovaError" (scanSuccess)="scanSuccessHandler($event)" style="max-width: 60rem;"></zxing-scanner>
    </p>
  </div>
  

</ion-content>
