<ion-header>
  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userInfo">
  <ion-grid>
    <ion-row center>
      <ion-col>
        <h1 text-uppercase no-padding no-margin>Bem vindo {{ userInfo.name }}</h1>
        <br>
        <h2>Dados de utilizador</h2>
        <!--Apresentar dados de utilizador-->
        <h2>Vinhos introduzidos</h2>
        <!--Apresentar os vinhos introduzidos-->
        <h2>Mais qualquer coisa</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
