<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Utilizador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="userInfo">
  <ion-grid>
    <ion-row center>
      <ion-col>
        <h1 text-uppercase no-padding no-margin>Bem vindo {{ userInfo.name }}</h1>
        <br>
        <h2>Dados de utilizador</h2>
        <h2>Vinhos introduzidos</h2>
        <h2>Vinhos Avaliados</h2>
        <ion-item *ngFor="let wine of winesEvaluated; let indexOfelement=index;">
          <h2>{{ wine.name }}</h2>
          <h2> {{ starsEvaluated[indexOfelement] }}</h2>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
