<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
    <ion-item>
      <ion-label position="floating">Nome <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="name" type="text"></ion-input>
    </ion-item>

    <span class="danger" *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched" lines="none">
      <ion-text color="danger" class="form-error">
        <sub>Nome deve possuir 5 a 46 caracteres</sub>
      </ion-text>
    </span>

    <hr/>

    <!-- <ion-item>
      <ion-label>Tipo de Utilizador <ion-text color="danger">*</ion-text></ion-label>
      <ion-select formControlName="role" value="agricultor" multiple="false" placeholder="Selecione seu Tipo">
        <ion-select-option value="agricultor">Agricultor</ion-select-option>
        <ion-select-option value="utilizador">Utilizador</ion-select-option>
      </ion-select>
    </ion-item>

    <span class="danger" *ngIf="registerForm.controls['role'].invalid && registerForm.controls['role'].touched" lines="none">
      <ion-text color="danger" class="form-error">
        <sub>Nome deve possuir 5 a 46 caracteres</sub>
      </ion-text>
    </span> 

    <hr/> -->
    
    <ion-item>
      <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="email" type="email"></ion-input>
    </ion-item>

    <span class="danger" *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" lines="none">
      <ion-text color="danger" class="form-error">
        <sub>Email Inválido</sub>
      </ion-text>
    </span>

    <hr/>

    <ion-item>
      <ion-label position="floating">Palavra-Passe <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="password" type="password"></ion-input>
    </ion-item>

    <span class="danger" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" lines="none">
      <ion-text color="danger" class="form-error">
        <sub>A palavra passe deve possuir 6 a 30 caracteres</sub>
      </ion-text>
    </span>

    <hr/>

    <ion-item>
      <ion-label position="floating">Confirmar Palavra-Passe <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>

    <span class="danger" *ngIf="registerForm.hasError('notSame') && registerForm.controls['confirmPassword'].touched" lines="none">
      <ion-text color="danger" class="form-error">
        <sub>As palavras-passe devem ser iguais</sub>
      </ion-text>
    </span>

    <hr/>

    <span class="danger" *ngIf="registerErr" lines="none">
      <ion-text color="danger" class="form-error">
        <sub>{{ registerErr }}</sub>
      </ion-text>
    </span>

    <hr/>

    <ion-button class="ion-margin-top" expand="block" color="primary" type="submit" [disabled]="registerForm.invalid">
      Criar Conta
    </ion-button>

  </form>
</ion-content>
